.reset-page{
    height:80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset-details{
    height: 50vh;
    border: 1px solid gray;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-radius: 1rem;
}
.reset-details form{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.reset-details form input{
    width: 350px;
}
.reset-btn{
    height: 35px;
    width: 180px;
    font-size: 17px;
    color: white;
    background: #000;
    border: none;
    border-radius: 0.2rem;
    transition: 0.2s;
}
.reset-btn:hover{
    background: orangered;
    transition: 0.2s;
}